{% extends "blog/base.html" %}
{% block content %}

<h1 class="my-4">Page Heading
    <small>Secondary Text</small>
</h1>

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}

    {% endif %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-4">
                    <div class="card mb-4" style="width: 20rem;">
                        <a href="{% url 'shop-product' product.id %}"><img src="{{ product.images.url }}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h4><a class="card-title" href="{% url 'shop-product' product.id %}">{{ product.name }}</a></h4>
                            <p class="card-text">{{ product.category }}</p>
                            <h3 class="text-left">{{ product.cost }}</h3>
                            <a href="#" class="btn btn-primary">Добавить в корзину</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}

    {% endif %}

{% endblock content %}
