.idea
__pycache__

generators/.idea
generators/__pycache__

shop_v3/.idea
shop_v3/__pycache__

shop_v3/cart/.idea
shop_v3/cart/__pycache__

shop_v3/users/.idea
shop_v3/users/__pycache__

shop_v3/shop/.idea
shop_v3/shop/__pycache__

shop_v3/shop_v3/.idea
shop_v3/shop_v3/__pycache__

shop_v3/cart/.idea
shop_v3/cart/__pycache__
